In [ ]:
!pip install pycaret
!pip install jupyterlab
!pip install pandas

In [2]:
import pandas as pd
import sys
import os
import numpy as np
from pycaret.classification import *

In [3]:
df = pd.read_csv("../data/raw/term-deposit-marketing-2020.csv")
print(df.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact  day month  duration  campaign   y
0  unknown    5   may       261         1  no
1  unknown    5   may       151         1  no
2  unknown    5   may        76         1  no
3  unknown    5   may        92         1  no
4  unknown    5   may       198         1  no

In [ ]:
# creat an experiment and call compare_models() function to benchmark models on entire dataset

exp1 = setup(df, target='y', session_id=42) 
best_model = compare_models()

In [3]:
# Create df_demographic with only demographic and fincial info removed

df_demographic = df.drop(columns=['day', 'month', 'duration','campaign',])
print(df_demographic.head())

   age           job  marital  education default  balance housing loan  \
0   58    management  married   tertiary      no     2143     yes   no
1   44    technician   single  secondary      no       29     yes   no
2   33  entrepreneur  married  secondary      no        2     yes  yes
3   47   blue-collar  married    unknown      no     1506     yes   no
4   33       unknown   single    unknown      no        1      no   no

   contact   y
0  unknown  no
1  unknown  no
2  unknown  no
3  unknown  no
4  unknown  no

In [5]:
# Create an experiment and call compare_models() function to benchmark models on df_demographic

exp2 = setup(df_demographic, 
             target='y', 
             session_id=42, 
             categorical_features=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact'],
             fix_imbalance=True, 
             normalize=True)

best_model = compare_models()

In [5]:
# Create df_campaign with only campaign features

df_campaign = df.drop(columns=['age', 'education', 'default', 'balance', 
                               'housing', 'loan', 'job', 
                               'contact', 'marital'
                               ])

print(df_campaign.head())

exp3 = setup(df_campaign, target='y', session_id=42)
best_model = compare_models()

   day month  duration  campaign   y
0    5   may       261         1  no
1    5   may       151         1  no
2    5   may        76         1  no
3    5   may        92         1  no
4    5   may       198         1  no

### We will choose models based on best recall score 
### Beacuse it measures how many actual y = 1 cases were correctly predicted.
### Predicting customers who will say yes is far more important in this context than 
###     mistakenly including a customer who will eventually say no